@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #182935;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
